<div class="container mnx-grid" id='{{cid}}'>
    <div class="breadcrumb-container row d-none">
        <div class="col-12 col-lg-auto actions d-none"></div>
    </div>
    <div class="filter d-none"></div>
    <div class="list"></div>
    <div class="pagination"></div>
    <div class="legend"></div>
</div>