<div class="container mnx-grid" id='{{cid}}'>
    <div class="breadcrumb-container row d-none {{view.getBreadcrumbContainerCssClass()}}">
        <div class="actions d-none {{view.getBreadcrumbActionsCssClass()}}"></div>
    </div>
    <div class="filter"></div>
    <div class="list"></div>
    <div class="pagination"></div>
    <div class="legend"></div>
</div>